@media screen and (max-width: 1300px) {
	
	.header__menu {
		width:98%;
	}
	
	.header__list {
		gap:0 2rem;
		justify-content:right;
	}
	
	
	.header__text .omoshikomi {
		font-size:12px;
	}
	
	.header__list__menu {
		gap:0 1rem;
	}
	
	.header__list__tel {
		gap:0 2rem;
	}
	
	.header__list__menu li {
		font-size:12px;
	}
	
	.step__content {
		gap:0;
	}
	
	.tel {
		font-size:23px;
		white-space: nowrap;
	}
	
	header a.btn-gradient {
		width:60%;
		font-size:14px;
	}
	
	.list__tel {
		width:40%;
		text-align:center;
	}
	
	.tel__wrap {
		justify-content:center;
	}
	
	.tel__wrap img {
		width:27px;
		height:17px;
	}
	
	.step__icon {
		width:300px;
		height:300px;
		padding:5.5rem;
	}
	
	.option__item img {
		width:100%;
	}
	
}

@media screen and (max-width: 1100px) {
	
	.step__content {
		gap:0 1rem;
	}

	.step__item p {
		width:100%;
	}
	
	.lever-back::before {
		left:3vw;
	}
	
.lever-back2::before {
		left:3vw;
	}
	
	.table__input p {
		font-size:16px;
	}

}

@media screen and (max-width: 896px){

  .pc__menu {
    display:none;
  }

  .sp__menu {
    display:block;
    width:90%;
    margin:0 auto;
  }

  .header__menu__top {
    display:flex;
    align-items:center;
  }

  .tel__wrap {
    justify-content:center;
  }

  .list__tel {
    text-align:center;
    width:50%;
  }

  /*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index :12;
  right : 5%;
  top   : 80px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #0154AC;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition   : 0.5s ease-in-out;
  transition        : 0.5s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.js-active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(315deg);
  -moz-transform   : rotate(315deg);
  transform        : rotate(315deg);
}

.hamburger.js-active span:nth-child(2),
.hamburger.js-active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(-315deg);
  -moz-transform   : rotate(-315deg);
  transform        : rotate(-315deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 11;
  top  : 0;
  left : 0;
  color: white;
  background: #fff;
  text-align: center;
  transform: translateX(100%);
  transition: all 0.6s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #2FA4FF;
  margin: 0 auto;
  padding: 50px 0;
  width: 100%;
  height:100vh;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: white;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.js-active {
  transform: translateX(0%);
}

.mainvisual__bg {
  height:100vh;
}

.pc__bg {
  display:none;
}

.sp__bg {
  display:block;
}

.top__center {
  display: none;
}

.top__center2 {
  display: block;
  position:absolute;
  top:10px;
  left:5%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width:90%;
}

.top__center3 {
  display:block;
  position:absolute;
  top:37vh;
  left:20%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width:60%;
}

.top__left {
  width:200px;
  top:10vh;

}

.top__right {
  display:none;
}

.top__right2 {
  display:block;
  position:absolute;
  right:50px;
  top: 25%;
}

.top__right3 {
  display:block;
  position:absolute;
  right:50px;
  bottom:20vh;
}

.top__left__bottom {
  bottom:25vh;
  width:380px;
}

.main__cv__content {
  flex-wrap:wrap;
}

.main__cv__items {
  width:100%;
}

.section__tittle {
  width:50%;
}

.point__icon {
  top:150px;
  left:-130px;
}

.campaign__container .campaign__tittle {
  width:80%;
  margin:0 auto;
}

.option__container {
  padding-bottom:0;
}

.option__content {
  flex-wrap:wrap;
}

.content__positioning {
  position:static;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.option__item {
  width:80%;
  margin:0 auto;
  margin-top:50px;
}

.option__item img {
  width:100%;
}

.order1 {
  order:2;
}

.order0 {
  order:1;
}

.point__container {
  padding-bottom:200px;
}

.pricecards {
  padding-top:150px;
}

.pricecard {
  padding:3rem 2.5rem;
}

.pricecard p {
  font-size:18px;
  padding:1.5rem;
}

.pricecard h3 {
  font-size:36px;
  line-height:2;
  padding:40px 0;
}

.pricecard h4 {
  font-size:70px;
  margin-bottom:60px;
}

.pricecard .pricecard__border__top {
  padding-top:60px;
}

.pricecard .pricecard__btn {
  padding:30px 100px;
  font-size: 20px;
  font-weight:bold;
  margin-top:30px;
}

.pricecard.premium {
  width:100%;
}

.pricecard.premium h3 {
  padding:40px 0;
}

.tatemoji::before {
  font-size:30px;
  left:-50px;
}

.tatemoji::after {
  font-size:30px;
  right:-50px;
}

.pricecard .pricecard__mini {
  font-size:18px;
  margin-top:20px;
  margin-bottom:30px;
  padding-bottom:60px;
}

.pricecard__item {
  width:100%;
}

.pricecard__item img {
  width:50%;
  margin:0 auto;
}

.pricecard.premium .pricecard__item h3 {
  font-size:23px;
  line-height:1.5;
  padding:20px 0;
}

.pricecard.premium p {
  font-size: 18px;
}

.profile_card, .pricecards, .profile_cards {
flex-direction: column;
-webkit-flex-direction: column;
}
.pricecard, .card_photo {
flex: 0 0 auto;
-webkit-flex: 0 0 auto;
}

.pricecard .cv__btn {
  height:80px;
  }
  
  .pricecard th {
  font-size:23px;
  }
  
  .pricecard td {
    font-size:23px;
  }
  
  .pricecard .td__mini {
    padding-right:100px;
  }
  
  .step__content {
    flex-wrap:wrap;
  }
  
  .step__item {
    width: 100%;
    margin-top:60px;
  }
  
  .step__icon {
    width:460px;
    height: 380px;
    margin:0 auto;
    margin-bottom:60px;
  }
  
  .step__icon img {
    width:50%;
  }
  
  .step__icon .step {
    width:30%;
  }
  
  .step__item p {
    font-size:23px;
    font-weight:bold;
    width:70%;
    margin:0 auto;
  }
  
  .step__wrapper .cv__btn {
    width:50%;
    height:60px;
  }
  
  .campaign__text p {
    width:60%;
    margin:0 auto;
    font-size:36px;
    padding-top:50px;
  }
	
	.campaign__text br {
		display:block;
	}
  
  .campaign__container {
    background-image:url(../img/campaign__sp__bg.png);
  }
  
  .campaign__container .point__bg__icon {
    top:30px;
    left:230px;
  }
  
  .campaign__container .section__tittle .sp__tittle {
    display:block;
    width:60%;
    margin:0 auto;
  }
  
  .pc__tittle {
    display:none;
  }
  
  .campaign__content {
    flex-wrap:wrap;
    gap:50px 0;
  }
  
  .campaign__item {
    width:100%;
  }

  .plan__text p {
    font-size:36px;
    padding-top:40px;
  }

  .plan__content {
    padding-top:100px;
    flex-wrap:wrap;
    gap:50px 0;
  }

  .plan__item {
    width:100%;
  }
	
	.plan__text br {
		display:block;
	}

  .plan__text img {
    top:auto;
  }

  .type__1::before {
    left:14vw;
  }

  .type__2::before {
    left:14vw;
  }

  .acd {
    max-width:90%;
  }

  .footer__content {
    flex-wrap:wrap;
    gap:50px 0;
  }

  .footer__item {
    width:100%;
  }

  .footer__list {
    flex-wrap:wrap;
    width:90%;
    gap:30px 0;
  }

  .footer__list li {
    width:33%;
    position:relative;
    text-align: center;
  }

  .footer__list li::before {
    position:absolute;
    left:0px;
  }

  .footer__list li:last-child::before {
    left:-40px;
  }

  .footer__copy__content {
    flex-wrap:wrap;
  }

  .footer__copy__sp {
    width:100%;
    padding-bottom:20px;
  }

  .footer__copy__bottom {
    width:100%;
    display:flex;
    gap:0 20px;
    align-items:center;
  }

  .footer__copy__tittle {
    display:none;
  }

  .footer__copy__tittle__sp {
    display:block;
  }

  .footer__copy p {
    display:none;
  }

  .topBtn {
    bottom:40px;
    right:50px;
  }

  .topBtn img {
    width:100px;
  }

  /*開通までの流れ*/

  .tab-wrap {
    max-width:100%;
  }

  .tab-label {
    font-size:10px;
    width:32%;
    padding:5px 0.5em;
  }

  .page__number__item p {
    font-size:18px;
  }

  .tab {
    max-width:100%;
  }

  /*お問い合わせ*/

  .page__contact--container {
    width:95%;
  }

  .contact__table th {
    padding-left:1.5rem;
    font-size:14px;
  }
	
	.contact__table .pt01 {
		padding-top:3rem;
	}

  .contact__table .required::after {
    font-size:12px;
  }

  .lever-back::before {
    top:32%;
    left:5vw;
  }

  .lever-back2::before {
    top:32%;
    left:5vw;
  }

  .label-checkbox .lever3 {
    padding:15px 10px;
  }

  .contactAgree label::after {
    right:1rem;
  }

  .menu  {
    display:none;
    width:100%;
  }

  .menu ul {
    width:100%;
    flex-wrap:wrap;
  }

  nav.globalMenuSp .menu {
    display: block;
  }

  nav.globalMenuSp ul {
    align-content:center;
  }

  nav.globalMenuSp .menu ul li {
    width:100%;
  }

  .slick-slide img {
    height:450px;
  }

  .popularPost {
    width:100%;
  }

  .popularPost img {
    height:380px;
  }

  .popular_content .popular_other {
    width:100%;
  }

  #menu-main-menu {
    display:none;
  }
	
		.archive__content {
		width:90%;
		flex-wrap:wrap;
	}
	
	#sidebar {
		width:100%;
		margin:3rem 0;
	}
	
	.single__thumbnail img {
		width:100%;
		height:auto;
	}
	
	.archive__content--item {
		width:100%;
	}
	
	#hide__text span {
		font-size:14px;
		left:1.5rem;
		bottom:7rem;
	}
	
	#hide__text2 span {
		font-size:14px;
		left:1.5rem;
	}
	
	.page__table .page__td {
		padding-left:1rem;
	}

}

@media (max-width: 550px){
  .related_post h3{
      font-size: 18px;
  }
  .related_post_container{
      flex-direction: column;
      flex-wrap: nowrap;
  }
  .related_post_container li{
      width: auto;
      margin-right: 0;
      margin-bottom: 10px;
      border: 1px solid #E8E8E8;
  }
  .related_post_container li:nth-child(n+1):nth-child(-n+4){
      margin-bottom: 10;
  }
  .related_post_container a{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  .related_thumb{
      width: 43%;
  }
  .related_thumb img{
      vertical-align: bottom;
  }
  .related_title{
      width: 55%;
      font-size: 12px;
  }
	
	.yarpp-thumbnails-horizontal {
		flex-wrap:wrap;
	}
	
	.wp-block-tag-cloud.is-style-outline a {
		padding:0.5rem;
	}
	
	.confirm__table p {
		font-size:14px;
	}
  
/* 【追加】お問合せページのmultipleSelect */
  .ms-choice >span {
    font-size: 14px !important;
  }

}

    @media screen and (max-width: 480px){

      .header__menu__top {
        gap:0 30px;
      }

      .sp__bg {
        object-fit:cover;
      }

      .header__logo {
        width:100px;
        height:20px;
      }

      .list__tel {
        width:80%;
        position: relative;
      }

      .tel__wrap {
        justify-content:left;
      }

      .tel__wrap img {
        width: 27px;
        height: 17px;
      }

      .tel {
        font-size:16px;
      }

      .uketsuke {
        font-size:10px;
-webkit-transform:scale(0.5);
-moz-transform:scale(0.5);
-ms-transform:scale(0.5);
-o-transform:scale(0.5);
transform:scale(0.5);
width:260px;
position: absolute;
top:-12px;
left:-45px;
      }

      .hamburger {
        top:5px;
      }
		
		.mainvisual__bg {
			height:80vh;
		}

      .top__center3 {
        top:28vh;
        left:18%;
        width:65%;
      }

      .top__left {
        width:100px;
        left:30px;
      }

      .top__right2 {
        width:170px;
        right:30px;
        top:15vh;
      }

      .top__right3 {
        width:100px;
        right:30px;
		  bottom:15vh;
      }

      .top__left__bottom {
        width:170px;
        left:30px;
		  bottom:20vh;
      }

      .top__right__bottom {
        width:100%;
        right:-5px;
		  bottom:10px;
      }

      .top__right__bottom img {
        width:160px;
      }

      .section__tittle {
        width:90%;
      }

      .main__cv__items {
        padding:15px 5px;
      }

      .main__cv__item {
        width:60%;
        letter-spacing: .5px;
      }

      .main__cv__content .cv__btn {
        width:200px;
      }

      .main__cv__item span {
        font-size:14px;
      }

      .main__cv__item p {
        font-size:10px;
      }
      
      .kanketsu {
        width:50%;
      }

      a.btn-gradient {
        font-size:11px;
        border-radius: .5rem;
        height:40px;
      }

      a.btn-gradient:after {
        border-radius: .5rem;
      }

      .section__tittle p {
        font-size:16px;
      }

      .point__bg__icon {
        width:100px;
        top:-20px;
      }

      .section__ttl {
        width:50%;
        margin:0 auto;
      }

      .point__container {
        padding-bottom:0;
      }

      .point__icon {
        left:-10px;
        top:100px;
        width:70px;
      }

      .point__wrapper {
        width:90%;
      }

      .pricecards {
        padding-top:100px;
      }

      .pricecard {
        padding:2rem;
      }

      .pricecard h3 {
        font-size:23px;
      }

      .pricecard h4 {
        font-size:36px;
        margin-bottom:40px;
      }

      .pricecard p {
        font-size: 12px;
        padding:1rem;
      }

      .pricecard .pricecard__border__top {
        padding-top:40px;
      }

      .pricecard .pricecard__btn {
        padding:10px 40px;
        font-size:12px;
      }

      .tatemoji::before {
        font-size:20px;
        left:-20px;
      }

      .tatemoji::after {
        font-size:20px;
        right:-20px;
      }

      .pricecard .pricecard__mini {
        font-size:12px;
        padding-bottom:30px;
        margin-bottom:10px;
      }

      .pricecard.premium {
        margin-top:0;
      }

      .pricecard.premium h3 {
        padding:20px 0;
      }

      .pricecard__item img {
        width:60%;
      }

      .pricecard.premium .pricecard__item h3 {
        font-size:14px;
      }

      .pricecard.premium p {
        font-size:12px;
      }

      .pricecard .cv__btn {
        margin-top:20px;
        height:40px;
      }

      .pricecard th {
        font-size:14px;
        width:20%;
      }

      .pricecard td {
        font-size:14px;
      }
      
      .pricecard .td__mini {
        padding-right:30px;
      }

      .standard p {
        padding:0;
        padding-top:20px;
        font-size: 10px;
      }

      .step__icon {
        width:260px;
        height:260px;
        margin-bottom:30px;
      }

      .step__icon img {
        width:100%;
      }

      .step__item:nth-child(2) {
        margin-top:30px;
      }

      .step__item:nth-child(3) {
        margin-top:30px;
      }

      .step__item p {
        font-size:14px;
      }

      .step__item .step__inner__text {
        padding-top:10px;
        font-size:12px;
      }

      .step__wrapper .cv__btn {
        width:60%;
        margin-top:40px;
      }

      .campaign__container .point__bg__icon {
        width:130px;
        top:20px;
        left:110px;
      }

      .campaign__text {
        padding:50px 0;
      }

      .campaign__text p {
        font-size:18px;
        width:90%;
        padding-top:30px;
      }
		
		.campaign__text br {
			display:block;
		}

      .campaign__content {
        width:90%;
      }

      .campaign__inner {
        width:50%;
        top:-20px;
      }

      .campaign__item {
        padding:40px 20px 20px 20px;  
        }

        .campaign__inner__icon {
          margin-bottom:20px;
        }

      .campaign__item h3 {
        font-size:20px;
      }

      .campaign__item p {
        font-size:12px;
        font-weight:400;
      }

      .option__wrapper {
        padding-top:0;
      }

      .option__content {
        width:90%;
      }

      .plan__text p {
        font-size:18px;
      }

      .plan__text img {
        width:100px;
        right:-30px;
      }

      .plan__content {
        padding-top:50px;
      }

      .plan__content {
        width:90%;
      }

      .plan__type h4 {
        font-size:18px;
      }

      .plan__type span {
        font-size:12px;
        padding:5px 10px;
      }

      .plan__getugaku {
        width:70%;
        text-align:center;
      }

      .plan__getugaku h3 {
        font-size:16px;
      }

      .plan__getugaku span {
        font-size:27px;
      }

      .type__1::before {
        width:30px;
        height:30px;
        left:5vw;
        background-size: cover;
      }

      .type__2::before {
        width:30px;
        height:30px;
        left:5vw;
        background-size: cover;
      }

      .plan__container .cv__btn {
        margin-top:50px;
      }

      .faq__container {
        padding:40px 0;
      }

      .acd__container {
        margin-top:70px;
      }

      .acd-open {
        font-size:0.8rem;
        padding:20px 0;
      }
		
		.acd-open br {
			display:block;
		}

      .acd span {
        margin-right:15px;
      }

      .acd-open::before, .acd-open::after {
        width:20px;
      }
		
		.acd-hidden:checked + .acd-open + .acd-close {
			font-size:0.8rem;
		}

      .footer__item .cv__btn {
        width:200px;
      }

      .footer__list a {
        font-size:12px;
      }

      .footer__list li::before {
        left:-6px;
      }

      .footer__list li:last-child::before {
        left:-15px;
      }

      .footer__list li:last-child {
        width:50%;
      }

      .footer__copy__content p {
        font-size:10px;
      }

      .footer__copy__logo {
        width:100px;
      }

      .topBtn img {
        width:70px;
      }

      .topBtn {
        bottom:5px;
        right:20px;
      }

      /*料金プラン*/

      .page__tittle__wrapper {
        background-image:url(../img/sp-subp-top-bg.jpg);
      }

      .page__secondary__tittle {
        font-size:18px;
        padding-top:20px;
      }

      .page__container .plan__content {
        width:100%;
        gap:20px 0;
        padding-top:20px;
      }

      .table__scroll {
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .page__table th {
        font-size: 12px;
		  padding:1rem 0;
    }

    .page__table td {
      font-size:12px;
      padding:20px 5px;
    }

    .page__table span {
      font-size:12px;
    }

    .page__table td:first-child {
      font-size:12px;
    }

    .page__table__text {
      font-size:12px;
      line-height:1.5;
      padding:15px 0;
    }

    .page__tertiary__tittle {
		display:flex;
		align-items:center;
		padding-top: 0;
		font-size:11px;
		padding-left:2.2rem;
		height:35px;
		padding-top:0;
    }

    .page__tertiary__tittle::before {
      height:35px;
      width:60px;
		border:none;
		background-size:contain;
    }

    .page__table .campaigns {
      font-size:16px;
    }

    .page__container .acd {
      max-width:100%;
    }

    /*転用のお客様*/

    .page__point__content {
      gap:30px 0;
    }

    .page__point__item {
      width:100%;
      padding: 1.5rem 2rem 3rem;
    }

    .page__table a.btn-gradient {
      width:150px;
    }

    .page__center {
      width:90%;
      margin:40px auto;
    }

    .page__center h2 {
      font-size:14px;
      padding-bottom:20px;
    }

    .page__center .page__table__text {
      font-size:12px;
    }

    .tab .page__table__text, .tab__pur {
      padding:30px;
    }

    /*お問い合わせ*/

    .page__contact--tittle {
      font-size: 18px;
    }

    .page__contact--tertiary {
      font-size:18px;
      padding-left:10px;
    }

    .stepBar.step3 .step {
      width:100%;
    }

    .contact__table th {
      padding-left:0.5rem;
      padding-top:2.5rem;
      padding-bottom:3.7rem;
      font-size:10px;
      width:40%;
    }

    .contact__table td {
      width:60%;
    }

    .contact__table .required::after {
      padding:2px 10px;
      right:0.5rem;
      top:40%;
    }

    .contact__table .pt0::after {
      top:3rem;
    } 

    .label-checkbox .lever {
      font-size: 10px;
      padding:10px 20px;
      margin: 10px 0;
      margin-right: auto;
      margin-left: auto;
    }

    .form-group {
      flex-wrap:wrap;
    }

    .lever2 {
      width:100%;
    }

    .label-checkbox .lever3 {
      margin:5px 0;
    }

    .input__text {
      padding:0.5rem ;
      font-size:12px;
    }

    .input__text2 {
      padding:0.5rem;
      font-size:12px;
      width: 100%;
    }
		
		.cp_ipselect.cp_sl01 {
			padding:0;
		}

    .contact__table .check-left p {
      width:100%;
    }

    .input__content {
      padding:1rem 0;
      flex-wrap:wrap;
      justify-content: center;
      gap:10px 0;
    }
		
		.input__content p {
			margin-bottom:0;
		}

    .table__input .zip {
      width:90%;
      padding:0.5rem;
      font-size:14px;
    }
		
		.contact__table .center {
			font-size:14px;
		}

    .table__input button {
      width:90%;
      padding:0.5rem 0;
      font-size:12px;
      margin-left:auto;
    }

    .table__input {
      flex-wrap:wrap;
    }

    .table__input .addr1, .addr2, .addr3, .addr4 {
      width:100%;
      padding:0.5rem;
      font-size:12px;
    }

    .contact__table .check-left {
      flex-wrap:wrap;
      gap:10px 0;
    }

    .group-flex .lever2 {
      width:23%;
    }

    .group-flex .lever3 {
      padding:5px 0;
    }

    .contact__table .pt2::after {
      top:3rem;
    }

    .cp_ipselect.cp_sl01 select {
      padding:0.5rem 0;
      padding-left:0.5rem;
    }

    .cp_ipselect.cp_sl01::before {
      top:0.8rem;
      right:0.5rem;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 7px solid #479FD0;
    }

    .contact__table .form-textarea {
      font-size:12px;
    }
		
		.input__btn .btn_back, .btn_submit {
			font-size:14px;
			padding:0.5rem 0;
			width:50%;
			border-radius:20px;
			-webkit-appearance: none; 
		}

    .contactAgree label {
      width:100%;
      text-align:left;
    }

    .contactAgree label::after {
      font-size:12px;
    }

    .contactAgree #submitButton {
      width:80%;
      font-size:16px;
      padding:0.5rem 0;
      border-radius:1rem;
    }
		
		.scrollArea {
			font-size:12px;
		}

    /*column*/

    .slick-slide img {
      height:230px;
    }

    .popularPost img {
      height:250px;
    }
		
				#hide__text span {
		font-size:10px;
		left:0.5rem;
		bottom:75px;
	}
	
	#hide__text2 span {
		font-size:10px;
		left:0.5rem;
		bottom:25px;
	}
		
		.table__input p {
			font-size:14px;
		}
		
		.contact__table .check-left p {
			font-size:14px;
		}

    }